body{
    background-image: url("img/D3y4G.jpg");
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 96vh;
}
h1, h2, h3, h4, h5, h6, p{
    color: #ffffff;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
}

.app_img{
    width: 70px;
    height: 54px;
    margin-bottom: -10px;
}

footer{
    display: flex;
    position: absolute;
    margin-left: -10px;
    bottom: 0;
    width: 195vh;
    height: 35px;
    background-color: rgb(189, 188, 188);
}

.img_bar{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

#lixeira{
    display: flex;
    flex-direction: column;
    position: absolute; 
    margin-left: 183vh;
    margin-top: -27vh;
}

#senhas{
    display: none;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    margin-left: 70vh;
    margin-top: -200px;
    background-color: white;
    height: 70vh;
    width: 50vh;
}

hr{
    margin-top: -15px;
    width: 99%;
    height: 0.1px;
}

#senhas_list{
    margin-left: -10px;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    overflow-y: auto;
    height: 60vh;
}

.p_item{
    margin-top: -2px;
    margin-left: 10px;
    font-size: 12px;
}

#cabeçalhosenha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#closebtnsen{
    cursor: pointer;
    margin-top: -1px;
}

/* NÃO LIDO */
.email_item.unread {
  background: #e8f0fe;
  font-weight: bold;
}

/* LIDO */
.email_item.read {
  background: #fff;
  font-weight: normal;
}

a{
    text-decoration: none;
}